
$primary-color: #3498db;
$hover-color: #2980b9;
$font-family: 'Roboto', sans-serif;


body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: white;
}


.header {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  justify-content: space-around;

  .nav-links {
    display: flex;
    gap: 40px; 

    a {
      padding: 10px 15px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
